{% extends 'myems_base.html' %} 

{% block container %}

<div class="container">
	
    <h2>Parts List</h2>
    <body onload ="search()"> </body>

<!-- add new part feature -->
   <!-- <div id="menu" >
	<ul>
		<li><a class = "btn right green" href="{%url 'dg_create' %}">Add New</a></li>
	</ul>
</div>  -->
	
    <form class="form-inline" action="" method="GET">
        {{ form }}
        <button class="btn green" name ="clicked" value = "true" type="submit">Search</button>
        </fieldset>
    </form>
 
 <!-- show/hide table feature -->
 <!--	<button class="btn green" type="submit" onclick ="showTable()">Show Table</button> -->

    <table table class="table table-bordered table-condensed">
    	<table id = "t01" style="display:none">
        <tr>
        	<th>Commercial Reference</th>
        	<th>Description</th>
        	<th>EAN13 Code</th>          
            <th>UN Code</th>
            <th>Label Image </th>
        </tr> 
        {% for object in object_list %} 
        <tr>
        	<td>{{object.commercial_reference}}</td>
        	<td>{{object.commercial_designation_in_english}}</td>
        	<td>{{object.code_ean13}}</td>       
            <td>{{object.un_code}}</td>
        </tr>
        {% endfor %} 
    </table>

<script>
 
 //show/hide table script
 //	function showTable() {
 		//var x = document.getElementById("t01");
 	 	//if (x.style.display === "none") {
			  //  x.style.display = "block";
			  //} else {
			  //  x.style.display = "none";
			 // }
			 //	} 

	function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

	
	
	function search(){
		var clicked = getParameterByName('clicked');
		if (clicked === "true") 
		{
			var x = document.getElementById("t01");
			    x.style.display = "block";
			  }
			   else {
			    x.style.display = "none";
			  }			 	
		}
	
 </script>   


{% if is_paginated %}
<ul class="pagination center-align">
    {% if page_obj.has_previous %}
    <li class="waves-effect">
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
    <li class="waves-effect">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </li>
    {% if page_obj.has_next %}
    <li class="waves-effect">
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% endif %}
</ul>
{% endif %}
    
</div>

{% endblock %}


