{% extends 'myems_base.html' %} 

{% block container %}

<div class="container">

 <div id="menu">
	<ul>
		<li><a class = "btn right" href="{%url 'dg_create' %}">Add New</a></li>
	</ul>
</div>

    <h2>Search UN Code using EAN</h2>

    <form class="form-inline" action="" method="GET">
        {{ form }}
        <button class="btn" type="submit">Search</button>
        </fieldset>
    </form>

    <table class="table table-bordered table-condensed">
        <tr>
        	<th>Part Name</th>
        	<th>EAN13 Code</th>
            <th>Commercial ref</th>
            <th>UN Code</th>
        </tr> 
        {% for object in object_list %}
        <tr>
        	<td>{{object.commercial_designation_in_english}}</td>
        	<td>{{object.code_ean13}}</td>
            <td>{{object.commercial_reference}}</td>
            <td>{{object.un_code}}</td>
        </tr>
        {% endfor %}
    </table>

{% if is_paginated %}
<ul class="pagination center-align">
    {% if page_obj.has_previous %}
    <li class="waves-effect">
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
    <li class="waves-effect">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </li>
    {% if page_obj.has_next %}
    <li class="waves-effect">
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% endif %}
</ul>
{% endif %}
    
</div>

{% endblock %}