{% extends 'myems_base.html' %} 

{% load static %}

{% block container %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h1 class="header center white-text text-lighten-2">All in one Employee Solution</h1>
            <div class="row center">
                <h5 class="header col s12 light"> </h5>
            </div>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light green lighten-1">Get Started</a>
            </div>
            <br>
            <br>
        </div>
    </div>

    <div class="parallax"><img src="{% static 'schneider0.jpg' %}" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Increase Productivity</h5>
                    <p class="light">This app gives you the information you need, fast.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Manage your Employees</h5>
                    <p class="light">Allocate jobs that requires certain set of skills with ease, using 
                                    our latest application!</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>
                    <p class="light">Website is easy to use, so you do not need to spend time learning.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{% static 'schneider1.jpg' %}" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Hub Asia</h4>
                <p class="left-align light">Singapore is one of the world's leading integrated logistics hub with knowledge-intensive supply chain management skills and technologies.
                As a global distribution centre, Hub Asia fits well in this strategic location standing on an area of 14,000 square meters space at Penjuru Lane.
                Hub Asia was incorporated in 1996 as the South East Asia regional distribution centre for 5,500 Schneider Electric product references.
                By the year 2011, it will handle over 15,000 product references to serve the world.
                Hub Asia in Singapore complements the company's hub in Europe, which geographically helps Schneider Electric achieve faster time to market, which is critical for its customers in the region.</p>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{% static 'schneider6.jpg' %}" alt="Unsplashed background img 3"></div>
</div>
{% endblock %}